# -*- mode: gitignore; -*-

###########################
# Emacs Stuff

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# elpa packages
/quelpa/

# cache files
/.cache/

# reftex files
*.rel

# AUCTeX auto folder
auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
projectile-*.eld

# places files (dont know to what package it belongs yet)
emacs.d/.place*
/emacs.d/.place*
.place*


# emojify emojis
emojis/

# directory configuration
.dir-locals.el

# network security
/network-security.data

# dunno what those are, but they seem not relevant for a repo
ac-comphist.dat
.mc-lists.el

# the resulting filed from tangled org file and html and stuff
emacs.html
/config/*.el
emacs.log

###########################
# VIM

# vim-plug plugins
/vim/plugged

###########################
# Tmux


###########################
# Shells (bash, zsh, fish)

# bash and zsh command history
/zsh/zsh_history
.zsh_history
/bash/bash_history
.bash_history
