# -*- mode: gitignore; -*-

###########################
# EMACS Stuff
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/emacs.d/elpa/

# config packages
/emacs.d/config/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

###########################
# VIM

# vim-plug plugins
/vim/plugged


###########################
# LaTeX

# reftex files
*.rel

# AUCTeX auto folder
/auto/

###########################
# Shells (bash, zsh, fish)

# bash and zsh command history
/zsh/zsh_history
.zsh_history
/bash/bash_history
.bash_history
