configuration {
  theme: "solid-blue-green";
  width: 100;
  lines: 15;
  columns: 1;
  line-margin: 2;
  line-padding: 1;
  modi: "window,drun,ssh,combi";
  font: "hack 10";
  combi-modi: "window,drun,ssh";
  show-icons: true;
  sidebar-mode: true;
	display-drun:   "Activate";
	display-run:    "Execute";
	display-window: "Window";
}
