# -*- mode: gitignore; -*-

###########################
# Emacs Stuff

*~
\#*\#
.emacs.desktop*
.emacs.desktop.lock*
emacs.desktop*
emacs.desktop.lock*

*.elc

# auto save
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/
elpa/

# qelpa packages
/quelpa/

# cache files
/.cache/
/cache/

# reftex files
*.rel

# treemacs tree
treemacs-persist*

# amx itens
amx*

# recentf file
recentf*
###########################
# LaTeX Stuff

# AUCTeX auto folder
auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
projectile-*.eld

# places files (dont know to what package it belongs yet)
place*
.place*


# emojify emojis
emojis/

# directory configuration
.dir-locals.el

# network security
/network-security.data

# dunno what those are, but they seem not relevant for a repo
ac-comphist.dat
.mc-lists.el

emacs.log
