.txt-white {
  color: white !important;
}

a.txt-white:hover,
a.txt-white:focus {
  color: #e6e6e6 !important;
}

.bg-white {
  background-color: white !important;
}

.txt-black {
  color: #0a0a0a !important;
}

a.txt-black:hover,
a.txt-black:focus {
  color: black !important;
}

.bg-black {
  background-color: #0a0a0a !important;
}

.txt-light {
  color: whitesmoke !important;
}

a.txt-light:hover,
a.txt-light:focus {
  color: #dbdbdb !important;
}

.bg-light {
  background-color: whitesmoke !important;
}

.txt-dark {
  color: #363636 !important;
}

a.txt-dark:hover,
a.txt-dark:focus {
  color: #1c1c1c !important;
}

.bg-dark {
  background-color: #363636 !important;
}

.txt-primary {
  color: #00d1b2 !important;
}

a.txt-primary:hover,
a.txt-primary:focus {
  color: #009e86 !important;
}

.bg-primary {
  background-color: #00d1b2 !important;
}

.txt-link {
  color: #3273dc !important;
}

a.txt-link:hover,
a.txt-link:focus {
  color: #205bbc !important;
}

.bg-link {
  background-color: #3273dc !important;
}

.txt-info {
  color: #3298dc !important;
}

a.txt-info:hover,
a.txt-info:focus {
  color: #207dbc !important;
}

.bg-info {
  background-color: #3298dc !important;
}

.txt-success {
  color: #48c774 !important;
}

a.txt-success:hover,
a.txt-success:focus {
  color: #34a85c !important;
}

.bg-success {
  background-color: #48c774 !important;
}

.txt-warning {
  color: #ffdd57 !important;
}

a.txt-warning:hover,
a.txt-warning:focus {
  color: #ffd324 !important;
}

.bg-warning {
  background-color: #ffdd57 !important;
}

.txt-danger {
  color: #f14668 !important;
}

a.txt-danger:hover,
a.txt-danger:focus {
  color: #ee1742 !important;
}

.bg-danger {
  background-color: #f14668 !important;
}

.txt-black-bis {
  color: #121212 !important;
}

.bg-black-bis {
  background-color: #121212 !important;
}

.txt-black-ter {
  color: #242424 !important;
}

.bg-black-ter {
  background-color: #242424 !important;
}

.txt-grey-darker {
  color: #363636 !important;
}

.bg-grey-darker {
  background-color: #363636 !important;
}

.txt-grey-dark {
  color: #4a4a4a !important;
}

.bg-grey-dark {
  background-color: #4a4a4a !important;
}

.txt-grey {
  color: #7a7a7a !important;
}

.bg-grey {
  background-color: #7a7a7a !important;
}

.txt-grey-light {
  color: #b5b5b5 !important;
}

.bg-grey-light {
  background-color: #b5b5b5 !important;
}

.txt-grey-lighter {
  color: #dbdbdb !important;
}

.bg-grey-lighter {
  background-color: #dbdbdb !important;
}

.txt-white-ter {
  color: whitesmoke !important;
}

.bg-white-ter {
  background-color: whitesmoke !important;
}

.txt-white-bis {
  color: #fafafa !important;
}

.bg-white-bis {
  background-color: #fafafa !important;
}
