[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tau/Desktop/Battle.net.desktop]
row=5
col=0

[/home/tau/Desktop/Counter-Strike Global Offensive.desktop]
row=6
col=0

[/home/tau/Desktop/steam.desktop]
row=2
col=1

[/home/tau/Desktop/anuncios-olx.txt]
row=4
col=0

[/home/tau/Desktop/presentation-6-apps.pdf]
row=1
col=1

[/home/tau/Desktop/presentation-6-apps.odp]
row=0
col=1

[/home/tau/Desktop/fghfghfghfghffggh.desktop]
row=8
col=1

[867E51B97E51A32B]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/tau]
row=1
col=0

