[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tau/Desktop/StarCraft II.desktop]
row=10
col=35

[/home/tau/Desktop/SpaceEngine 0.980.desktop]
row=9
col=35

[/home/tau/Desktop/Diablo III.desktop]
row=1
col=35

[/home/tau/Desktop/dev-roadmap-frontend.png]
row=13
col=34

[/home/tau/Desktop/super-mario-world-8.desktop]
row=12
col=35

[/home/tau/Desktop/wolfenstein-3d-19.desktop]
row=3
col=36

[/home/tau/Desktop/crisis-core-final-fantasy-vii-22.desktop]
row=9
col=34

[/home/tau/Desktop/Battle.net.desktop]
row=7
col=34

[/home/tau/Desktop/Warcraft III.desktop]
row=2
col=36

[/home/tau/Desktop/Epic Games Launcher.lnk]
row=4
col=35

[/home/tau/Desktop/presentation-6-apps.pdf]
row=8
col=35

[/home/tau/Desktop/supertuxkart-13.desktop]
row=13
col=35

[/home/tau/Desktop/steam.desktop]
row=11
col=35

[/home/tau/Desktop/UOS.desktop]
row=1
col=36

[/home/tau/Desktop/diablo-24.desktop]
row=0
col=35

[/home/tau/Desktop/anuncios-olx.txt]
row=6
col=34

[/home/tau/Desktop/dev-roadmap-backend.png]
row=11
col=34

[/home/tau/Desktop/dev-roadmap-devops.png]
row=12
col=34

[/home/tau/Desktop/wolfenstein-enemy-territory-9.desktop]
row=4
col=36

[/home/tau/Desktop/temo]
row=5
col=34

[/home/tau/Desktop/photo_2017-06-24_21-12-19.jpg]
row=6
col=35

[/home/tau/Desktop/heretic-15.desktop]
row=5
col=35

[/home/tau/Desktop/presentation-6-apps.odp]
row=7
col=35

[/home/tau/Desktop/UOCartographer.desktop]
row=0
col=36

[/home/tau/Desktop/Destiny 2.desktop]
row=10
col=34

[/home/tau/Desktop/dissidia-final-fantasy-23.desktop]
row=3
col=35

[/home/tau/Desktop/Counter-Strike Global Offensive.desktop]
row=8
col=34

[/home/tau/Desktop/Diablo II LoD (Glide 3dfx).desktop]
row=2
col=35

[Trash]
row=4
col=34

[/]
row=2
col=34

[/home/tau]
row=3
col=34

