[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tau/Desktop/anuncios-olx.txt]
row=17
col=0

[/home/tau/Desktop/fghfghfghfghffggh.desktop]
row=12
col=0

[/home/tau/Desktop/presentation-6-apps.odp]
row=13
col=0

[/home/tau/Desktop/steam.desktop]
row=14
col=0

[/home/tau/Desktop/Counter-Strike Global Offensive.desktop]
row=15
col=0

[/home/tau/Desktop/presentation-6-apps.pdf]
row=18
col=0

[/home/tau/Desktop/Battle.net.desktop]
row=16
col=0

[867E51B97E51A32B]
row=8
col=0

[Trash]
row=9
col=0

[/]
row=10
col=0

[/home/tau]
row=11
col=0

