[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tau/Desktop/Counter-Strike.desktop]
row=1
col=0

[867E51B97E51A32B]
row=4
col=0

[Trash]
row=3
col=0

[/]
row=2
col=0

[/home/tau]
row=0
col=0

