[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tau/Desktop/Destiny 2.desktop]
row=8
col=2

[/home/tau/Desktop/SpaceEngine 0.980.desktop]
row=10
col=0

[/home/tau/Desktop/Diablo III.desktop]
row=18
col=1

[/home/tau/Desktop/dev-roadmap-frontend.png]
row=11
col=0

[/home/tau/Desktop/diablo-24.desktop]
row=7
col=1

[/home/tau/Desktop/wolfenstein-3d-19.desktop]
row=13
col=1

[/home/tau/Desktop/crisis-core-final-fantasy-vii-22.desktop]
row=6
col=1

[/home/tau/Desktop/Warcraft III.desktop]
row=9
col=0

[/home/tau/Desktop/Battle.net.desktop]
row=15
col=0

[/home/tau/Desktop/Epic Games Launcher.lnk]
row=16
col=0

[/home/tau/Desktop/supertuxkart-13.desktop]
row=12
col=1

[/home/tau/Desktop/steam.desktop]
row=10
col=1

[/home/tau/Desktop/presentation-6-apps.pdf]
row=6
col=2

[/home/tau/Desktop/super-mario-world-8.desktop]
row=11
col=1

[/home/tau/Desktop/Diablo II LoD (Glide 3dfx).desktop]
row=15
col=1

[/home/tau/Desktop/dev-roadmap-backend.png]
row=12
col=0

[/home/tau/Desktop/anuncios-olx.txt]
row=14
col=0

[/home/tau/Desktop/dev-roadmap-devops.png]
row=13
col=0

[/home/tau/Desktop/wolfenstein-enemy-territory-9.desktop]
row=14
col=1

[/home/tau/Desktop/presentation-6-apps.odp]
row=19
col=1

[/home/tau/Desktop/photo_2017-06-24_21-12-19.jpg]
row=17
col=0

[/home/tau/Desktop/heretic-15.desktop]
row=9
col=1

[/home/tau/Desktop/UOS.desktop]
row=16
col=1

[/home/tau/Desktop/UOCartographer.desktop]
row=17
col=1

[/home/tau/Desktop/StarCraft II.desktop]
row=7
col=2

[/home/tau/Desktop/Counter-Strike Global Offensive.desktop]
row=18
col=0

[/home/tau/Desktop/dissidia-final-fantasy-23.desktop]
row=8
col=1

[/home/tau/Desktop/temo]
row=9
col=2

[Trash]
row=8
col=0

[/]
row=7
col=0

[/home/tau]
row=6
col=0

